@using CoQ.Web.Models.ViewModels;
@using CoQ.Models.Models;
@model FriendsPageViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div style="padding: 20px;">
    <h1>Friends (@Model.Friends.Count)</h1>
    <div class="divideLine"></div>
    @foreach (FriendshipModel friend in Model.Friends)
    {
        <a onclick="location.href = '@Url.Action("UserDetails", "Home", new { UserID = friend.OtherFriendID})'">
            <div class="friendCard">
                @if (String.IsNullOrEmpty(friend.FriendImageName))
                {
                    <img class="cardPhoto" src="~/images/emptyPic.jpg" />

                }
                else
                {
                    <img class="cardPhoto" src="~/images/@friend.FriendImageName" />

                }
                <div class="cardName">@friend.FriendName</div>
            </div>
        </a>
    }
</div>

@if (Model.PendingFriends.Count > 0)
{
    <div>
        <h1>Friend Requests (@Model.PendingFriends.Count)</h1>
        <div class="divideLine"></div>
        @foreach (FriendshipModel pendingFriend in Model.PendingFriends)
        {
    <div class="friendCard">
        <button class="btn btn-outline-success acceptFriend" id="@pendingFriend.OtherFriendID">Accept Request</button>
            @if (String.IsNullOrEmpty(pendingFriend.FriendImageName))
            {
                <img class="cardPhoto" src="~/images/emptyPic.jpg" />

            }
            else
            {
                <img class="cardPhoto" src="~/images/@pendingFriend.FriendImageName" />

            }
        <div class="cardName">@pendingFriend.FriendName</div>
    </div>
        }
    </div>
}

<script>
    $('.acceptFriend').click(function () {
        var FriendID = this.id;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("AcceptFriend", "Home")',
            data: {
                FriendID: FriendID
            },
            success: function (data) {
                location.reload();
            },
            error: function () {
                alert('Something went wrong');
            }
        });
    });
</script>