@using CoQ.Web.Models.ViewModels;
@model GameDetailsViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
    .profileLikesSection {
        margin-top: 5%;
    }
</style>

<div>
    <div id="profilePageTop">

        <div class="profileHeader"></div>

        <div id="bioCard">
            <div id="topOfBioCard">
                <img src="~/images/@Model.GameModel.ImageName" alt="@Model.GameModel.GameName Image" id="profilePhoto">
                <div class="userName">
                    <b>@Model.GameModel.GameName</b> | @Model.GameModel.System
                </div>
            </div>
            <div id="bottomOfBioCard">
                <div id="bottomRight" style="margin-top: 5%;">
                    <div id="bioHeader">About @Model.GameModel.GameName:</div>
                    <div class="userBio">
                        @Model.GameModel.GameDescription
                    </div>
                </div>
            </div>
            @if (!Model.IsLiked)
            {
                <div class="btn-group-lg">
                    <button class="btn btn-danger" id="dislikeBtn">
                        <span class="glyphicon glyphicon-remove"></span>
                        Dislike Game
                    </button>
                    <button class="btn btn-success" id="likeBtn">
                        <span class="glyphicon glyphicon-ok"></span>
                        Like Game
                    </button>
                </div>
            }
        </div>
    </div>

    <div class="profilePageContent">

        @if (Model.News.Count > 0)
        {
            <div class="profileLikesSection" style="padding-left: 10px;">
                <h3>News</h3>
                <div class="divideLine"></div>
                @foreach (var news in Model.News)
                {
                    <a href="@news.MediaURL">
                        <img src="~/images/@Model.GameModel.ImageName" />
                    </a>
                }
            </div>
        }

        <div class="profileLikesSection" style="padding-left: 10px;">
            <h3>Reviews</h3>
            <div class="divideLine"></div>
            @if (Model.Reviews.Count > 0)
            {
                foreach (var review in Model.Reviews)
                {
                    <a href="@review.MediaURL">
                        <img src="~/images/@Model.GameModel.ImageName" />
                    </a>
                }
            }
            else
            {
                <h4>There are no reviews for this game as it is not released yet.</h4>
            }
        </div>

        @if (Model.Trailers.Count > 0)
        {
            <div class="profileLikesSection" style="padding-left: 10px;">
                <h3>Trailers</h3>
                <div class="divideLine"></div>
                @foreach (var trailer in Model.Trailers)
                {
                    <iframe width="560" height="315" src="@trailer.MediaURL"
                            frameborder="0" allow="accelerometer; autoplay;
                        encrypted-media; gyroscope; picture-in-picture">
                    </iframe>
                }
            </div>
        }

        @if (Model.Screenshots.Count > 0)
        {
            <div class="profileLikesSection" style="padding-left: 10px;">
                <h3>Screenshots</h3>
                <div class="divideLine"></div>
                @foreach (var screenshot in Model.Screenshots)
                {
                    <img src="~/images/@screenshot.MediaURL">
                }
            </div>
        }
    </div>
</div>

<script>
    $('#dislikeBtn').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DislikeGame", "Home")',
            data: {
                UserID: @Model.UserID,
                GameID: @Model.GameModel.GameID
            },
            success: function (data) {
                location.href = '@Url.Action("Index", "Home")';
            },
            error: function () {
                alert('Something went wrong');
            }
        });
    });

    $('#likeBtn').click(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("LikeGame", "Home")',
            data: {
                UserID: @Model.UserID,
                GameID: @Model.GameModel.GameID
            },
            success: function (data) {
                location.href = '@Url.Action("PotentialFriends", "Home", new { GameID = Model.GameModel.GameID, UserID = Model.UserID })';
            },
            error: function () {
                alert('Something went wrong');
            }
        });
    });
</script>