@using CoQ.Web.Models.ViewModels
@model ProfileViewModel

<div id="profilePage">
    <div id="profilePageTop">

        <div id="leftSide">
            @if (String.IsNullOrEmpty(Model.User.ImageName))
            {
                <img src="~/images/emptyPic.jpg" alt="@Model.User.ImageName" id="profilePhoto">
            }
            else
            {
                <img src="~/images/@Model.User.ImageName" alt="@Model.User.ImageName" id="profilePhoto">
            }
        </div>
        <div id="rightSide">
            <div class="userName"><b>@Model.User.UserName</b></div>

            <div id="bioHeader">About Me:</div>
            <div class="userBio">
                @Model.User.UserDescription
            </div>

            <a asp-controller="Home" asp-action="EditProfile"><div id="editProfileBtn">Edit Profile</div></a>

        </div>

    </div>

    <div class="profilePageContent">

        @if (Model.LikedGames.Count > 0)
        {
            <div class="profileLikesSection">
                <h3>Likes (@Model.LikedGames.Count)</h3>
                <div class="divideLine"></div>
                @foreach (var game in Model.LikedGames)
                {
                    <a onclick="location.href = '@Url.Action("GameDetails", "Home", new { GameID =  game.GameID, isLiked = true})'">

                        <div class="likesCard">
                            <img class="likesCardPhoto" src="~/images/@game.ImageName" />
                            <div class="likesCardName"><b>@game.GameName</b> | @game.System</div>
                        </div>
                    </a>
                }
            </div>

        }

        @if (Model.Friends.Count > 0)
        {
            <div class="profileFriendSection">
                <h3>Friends (@Model.Friends.Count)</h3>
                <div class="divideLine"></div>
                @foreach (var friend in Model.Friends)
                {
                    <a onclick="location.href = '@Url.Action("UserDetails", "Home", new { UserID = friend.OtherFriendID})'">
                        <div class="friendCard">
                            @if (String.IsNullOrEmpty(friend.FriendImageName))
                            {
                                <img class="cardPhoto" src="~/images/emptyPic.jpg" />
                            }
                            else
                            {
                                <img class="cardPhoto" src="~/images/@friend.FriendImageName" />
                            }
                            <div class="cardName">@friend.FriendName</div>
                        </div>
                    </a>
                }
            </div>

        }
        <div class="likesThumbnails"></div>
    </div>
</div>